Flask==3.0.3
Flask-Login==0.6.3
SQLAlchemy==2.0.32
Werkzeug==3.0.4
gunicorn==21.2.0
lxml==5.2.2
google-api-python-client==2.151.0
google-auth==2.34.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
